<%= form_for(@collection_image) do |f| %>
  <% if @collection_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection_image.errors.count, "error") %> prohibited this collection_image from being saved:</h2>

      <ul>
      <% @collection_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image_id %><br>
    <%= f.text_field :image_id %>
  </div>
  <div class="field">
    <%= f.label :collection_id %><br>
    <%= f.text_field :collection_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
