<!DOCTYPE html>
<html>
<head>
  <title>WebpackRails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<%= content_tag :body, data: { module: controller_name, action: action_name } do %>
  <%= yield %>
  <%= javascript_include_tag 'application' %>
<% end %>
</html>
